.divider {
    color: rgb(var(--font-terziary));
    text-align: center;
}

.divider h1 {
    background-color: rgb(var(--color-primary));
    padding: 20px;
    border: 2px solid color rgb(var(--color-secondary));
    text-transform: uppercase;
}

.divider hr {
    border: none;
    height: 2px;
    width: 60%;
    color: rgb(var(--color-secondary));
    opacity: .6;
    margin: auto;
    box-shadow: 0px 5px 7px 5px rgba(0, 0, 0, 0.71);
}

.docenti-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
}