header {
    background-color: rgb(var(--color-primary));
    width: 100%;
    top: 0;
    text-align: center;
    position: fixed;
    transition: all .3s;
    z-index: 500;
}

.header-onscroll {
    top: 30px;
    background-color: rgba(var(--color-primary), .5);
    border-top: 1px solid rgba(var(--color-secondary), .5);
    border-bottom: 1px solid rgba(var(--color-secondary), .5);
    transition: all .3s;
}

.header-onscroll:hover {
    background-color: rgb(var(--color-primary));
    border-top: 1px solid rgb(var(--color-secondary));
    border-bottom: 1px solid rgb(var(--color-secondary));
}

#logo {
    position: absolute;
    width: 256px;
    top: -4px;
    left: -50px;
    background-color: rgb(var(--color-primary));
    border-bottom-right-radius: 6rem;
    transition: all .3s;
}

#logo-onscroll {
    background-color: rgba(var(--color-primary), 0);
    position: absolute;
    width: 256px;
    transform: scale(.5);
    left: 50px;
    opacity: .5;

    transition: all .3s;
}

#logo-onscroll:hover {
    opacity: 1;
    transform: scale(1);
}

.nav {
    margin-left: auto;
    margin-right: auto;
}

#current-page {
    background-color: rgba(var(--color-secondary), .9);
    text-transform: uppercase;
    transition: all .3s;
}

#current-page:hover {
    background-color: rgb(var(--color-secondary));
    border-radius: 2rem;
    transform: translateY(-4px);
    filter: saturate(200%);
}

.nav>li {
    width: 8.5rem;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: .4rem;
}

.nav-link {
    color: rgb(var(--font-primary));
    text-decoration: none;
    position: relative;
    transition: all 0.3s ease-in;
    font-size: 18px;
    background-color: transparent;
    transition: all .3s;
}

.nav-link:visited {
    color: rgb(var(--font-primary));
}

#a-header:hover {
    color: rgb(var(--color-secondary));
    letter-spacing: 2px;
}

.nav-link:after {
    background: none;
    content: "";
    background: rgb(var(--color-secondary));
    bottom: 0;
    position: absolute;
    height: 2px;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    display: block;
    left: 50%;
    width: 0;
}

#a-header:hover:after {
    width: 100%;
    left: 0;
}

#header-icon {
    pointer-events: none;
}