html,
body {
    background-color: rgb(var(--color-terziary));
}

.custom-shape-divider-top-1697795202 {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1697795202 svg {
    position: relative;
    display: block;
    width: calc(153% + 1.3px);
    height: 203px;
}

.section-one .custom-shape-divider-top-1697795202 .shape-fill {
    fill: rgb(var(--color-quaternary));
}

.section-two .custom-shape-divider-top-1697795202 .shape-fill {
    fill: rgb(var(--color-terziary));
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1697795202 svg {
        width: calc(173% + 1.3px);
        height: 154px;
    }
}

.section-one {
    background-color: rgb(var(--color-terziary));
    color: rgb(var(--font-terziary));
    /* position: relative; */
    /* height: 40rem; */
}

.section-one h1 {
    margin: 0;
}

.section-two {
    background-color: rgb(var(--color-quaternary));
    color: rgb(var(--font-terziary));
    /* height: 40rem;
    position: relative; */
}

.section-two h1 {
    margin-bottom: 10rem;
}

.swiper {
    width: 100%;
    height: 15rem;
}

.swiper-slide {
    object-fit: contain;
    object-position: center;
}

.swiper-slide img {
    width: 100%;
    height: auto;
}

.swiper-button-prev, .swiper-button-next {
    opacity: 0;
    color: rgb(var(--color-secondary)) !important;
}

.spacer {
    height: 30rem;
}






#home-title {
    color: rgb(var(--font-terziary));
}

.posts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: stretch;
}

.post-card {
    width: auto;
    height: 100%;
    max-width: 400px;
    background-color: rgb(var(--color-primary));
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
}

#card-image {
    height: auto;
    width: auto;
    max-width: 400px;
    max-height: 600px;
    z-index: 0;
}

/*  #card-image:hover {
    transform: scale(1.5);
    z-index: 1000;
} */

.card-text {
    color: rgb(var(--font-terziary));
    text-align: center;
    padding: 20px;
}

#card-title {
    font-weight: bolder;
}

#card-description {
    /* display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden; */
    margin-top: 20px;
}

#card-date {
    background-color: rgb(var(--color-terziary));
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    opacity: .3;
    border-radius: 20px;
    transition: all .3s;
}

#card-date:hover {
    opacity: 1;
    cursor: default;
}

.search-options {
    display: flex;
    flex-direction: row;
}

.search-box {
    text-align: center;
    margin-bottom: 50px;
    color: #fff;
    display: inline-block;
}

#search-input {
    border-radius: 8px;
    background-color: rgb(var(--color-primary));
    width: 300px;
    color: #fff;
    border: 2px solid #000;
    transition: all .2s;
}

#search-input:hover {
    background-color: rgb(var(--color-terziary));
    border: 2px solid rgb(var(--color-secondary));
}

#search-button {
    border-radius: 10px;
    border: 2px solid #000;
    background-color: rgb(var(--color-primary));
    transition: all .2s;
}

#search-button:hover {
    border: 2px solid rgb(var(--color-secondary));
    background-color: rgb(var(--color-terziary));
}

#search-tag {
    width: 100px;
    text-align: center;
    display: inline-block;
}

.prova {
    height: 250rem;
    font-size: 6rem;
    color: white;
}