.section-one {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 92px;
}

.hero-landing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#landing-logo {
    width: 256px;
}

.courses-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 18px;
}

.courses-icons>img {
    width: 256px;
}

.section-paragraph {
    margin-top: 96px;
    max-width: 1280px;
    text-align: center;
    margin-inline: auto;
    color: white;
    padding-inline: 14px;
}

.section-paragraph>h1 {
    text-align: center;
    margin-bottom: 32px;
}

.section-paragraph>p {
    width: fit-content;
    margin-inline: auto;
}